/.bundle
/.wsl
/coverage
/log/*
/node_modules
/storage/*
/tmp/*
/ubuntu-assessment.tar

!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
!/tmp/storage
!/tmp/storage/.keep
/tmp/pids/*
!/tmp/pids/.keep

/config/master.key
/config/credentials/*.key

*.swp
*~
.DS_Store
